.contact-box{
	max-width: 100%;
	display: grid;
    border-radius: 10px;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #6c74bd;
    transition: 0.5s;
}

.contact-box:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}



.left{
	background: url("https://i.pinimg.com/564x/e9/65/7f/e9657fb3ebd42d132a4bf4b6c79ca697.jpg") no-repeat center; /*TODO: add some image*/
	background-size: cover;
	height: 100%;
    border-radius: 10px;

}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #25a888;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
	outline: none;
	background-color: rgba(230, 230, 230, 0.835);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 40%;
	padding: 0.5rem 1rem;
	background-color: #7524b8;
    border-radius: 3px;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.15);
}

.field:focus{
    background-color: #fff;
}

@media screen and (max-width: 768px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}